{% extends "layout.html" %}
{% block content %}

<section>
    <div class="row">
        <table class="table table-hover table-bordered text-center">
            <tr class="text-center">
                <th>Id</th>
                <th>Product</th>
                <th>Warehouse</th>
                <th>Quantity</th>
            </tr>
            {% for product in products.items %}
            <tr>
                <td>{{ product.product_id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.warehouse }}</td>
                {% if product.warehouse %}
                <td>{{ product.warehouse.get_product_quantity(product.name) }}</td>
                {% else %}
                <td>---</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% for page_num in products.iter_pages(left_edge = 1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if products.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('products.show_report', page=page_num )}}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('products.show_report', page=page_num )}}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}